$text-red:#c92200;
$text-blue:#14396a;
$text-green:#306108;
.text-red{
  color:$text-red;
}
.text-blue{
  color:$text-blue;
}
.text-green{
  color:$text-green;
}
button.leaf{
  &.data{
    background: linear-gradient(#f0c911 5%, #f2ab1e 100% );
    @extend .text-red;
    border-color:#e65f44 ;
  }
  &.control{
    background:linear-gradient(#77d42a 5%, #5cb811 100% );
    @extend  .text-green;
    border-color: #268a16;
  }
  &.remove{
    background:linear-gradient(#63b8ee 5%, #468ccf 100% );
    @extend .text-blue;
    color:#14396a;
  }
}
